@media screen and (max-width: 700px) {
  .about__company {
    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    .bigMap {
      display: none;
    }

    .smallMap {
      width: 221px;
      height: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .about__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 0;
        margin: 0;

        span {
          font-weight: 700;
          font-size: 20px;
          color: #03C623;
          text-align: center;
        }
      }

      .main__desc {
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        display: flex;
        align-items: center;
        text-align: center;
      }

      button {
        margin-top: 30px;
        margin-bottom: 60px;
      }
    }

    .main__image {
      display: none;
    }

    .main__image-hidden {
      display: block;

      img {
        width: 280px;
        height: 303px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .plusUse {
    h3 {
      text-align: center;
      margin-bottom: 40px;
    }

    .plusUse__card-desc {
      font-style: normal;
      font-weight: 200;
      font-size: 14px;
      line-height: 29px;
      margin-bottom: 22px;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    img {
      margin-left: 88px;
    }
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav__item {
    padding: 0;
  }

  .nav__phone {
    display: flex;
    align-items: center;
    text-align: center;

    .nav__phone-link {
      display: inline-block;
      position: relative;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-left: 40px;

      &:focus {
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }

      &::before {
        position: absolute;
        content: '';
        right: 180px;
        top: 0;
        background: url("../../src/img/call.svg");
        width: 24px;
        height: 24px;
      }
    }

  }
}

@media screen and (max-width: 700px) {
  .plusUse__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .back-to-top {
    display: none;
  }
  .back-to-top-icon {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .delivery__section {
    h4 {
      font-weight: 800;
      font-size: 17px;
      line-height: 31px;
      text-align: center;
      color: #FCFCFC;
    }

    .delivery__title-h5 {
      font-style: normal;
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }

    .delivery__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .delivery__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 700px) {
  .delivery__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .delivery__card {
    width: 312px;
    height: 144px;

    .delivery__num {
      margin-left: 20px;
      font-weight: 700;
      font-size: 12px;
      line-height: 19px;
      border-radius: 7.93684px;
      padding: 5px 10px;
    }
  }

  .delivery__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .delivery__title-btn {
    @include orange_btn();
    margin-bottom: 33px;
  }
}

.delivery__section {
  margin-top: 80px;

  h4 {
    font-weight: 600;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: #FCFCFC;
  }
}

@media screen and (max-width: 700px) {
  .order__h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .order__p {
    font-weight: 700;
    font-size: 18px;
    max-width: 620px;
    line-height: 26px;
    text-align: center;
    color: #C3CDE1;
    margin-bottom: 84px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 700px) {
  .form__calc {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: 288px;
    height: 660px;

    .form__inputs {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;

      input {
        color: #000000;
        padding: 7px 18px;
        margin: 0 5px;
        appearance: textfield;
      }

      select {
        color: #000000;
        padding: 6px 50px;
        margin: 0 10px;
      }
    }

    .range__input {
      display: flex;
      flex-direction: column-reverse;
      align-content: center;

      .custom-range {
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    }

    .form__category {
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 0;

      .form__category-item {

      }
    }
  }
}